<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Problem: Divisibility</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Problem: Divisibility</h3>
      </div>
      Print all integers ai such that ai is divisible by x and not divisible by y, where 1 < ai < n < 100000.
      Input
      First, you are given t (t<100) - the number of test cases. In each of the following t lines, 3 integers: n x y.
      You might assume also that x < n and x is not divisible by y.
      Output
      In each of the following t lines, numbers requested in the problem description in the separated by a single space in ascending order.
      Example:
Input:
2
7 2 4
35 5 12
Output:
2 6
5 10 15 20 25 30
      <hr/>
      <div class="col-md-6 col-md-offset-3">
        <h4 class="text-muted">Please select the data file for the problem</h3>
        <form action="upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <br />
          <input type="submit" class="btn btn-primary" value="Upload">
        </form>
      </div>
    </div>
  </body>
</html>
